<div class = "jumbotron">
</div>
<section class="team-section text-center my-5">
<h2 class="h1-responsive font-weight-bold my-5"> L'équipe</h2>
  <div class="row">
  <div class="col-lg-10 col-md-10 mb-lg-10 mb-10">
  
    <h4 class = "center font-bold mt-4 mb-3"> Daniel AB </h4>
    
      <p class = "center"> THP session n° 10.
      <br> Doing it in (presque) "remote mode" </p>
  </div>
  </div>
</section>