// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {text-align: center}

.jumbotron {
	background-image: url(https://los40mx00.epimg.net/los40/imagenes/2019/07/19/viral/1563487237_194350_1563487989_gigante_normal.jpg);
	background-size: contain;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -1px;
 	height: 80px;
 	color: #563d7c;
 	text-shadow: black 0.01em 0.01em 0.1em;
	 }	 